<div class="jumbotron descr-top-sobre">
            <div class="container text-center">
                <h1>Entre em Contato – Transportadora!</h1>
                <p class="lead mb-4">Escolha o canal de atendimento de sua preferência para orçamento ou dúvidas</p>
            </div>
        </div>

        <div class="jumbotron contato">
            <div class="container">
                <div class="row featurette">
                    <div class="col-md-6">
                        <h3 class="featurette-heading exp-home-titulo">Solicite mais informações ou orçamento</h3>
                        <form>
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Nome completo">
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="email" class="form-control" placeholder="Seu Melhor E-mail">
                            </div>
                            <div class="form-group">
                                <label>Assunto</label>
                                <input type="text" class="form-control" placeholder="Assunto da mensagem">
                            </div>
                            <div class="form-group">
                                <label>Mensagem</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger">Enviar</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h3 class="featurette-heading exp-home-titulo">Fale Conosco</h3>
                        <p class="lead">Segunda a Sexta: 08:30 às 12:00 e 13:30 às 18:00</p>
                        <hr>
                        <address>
                            <strong>Endereço.</strong><br>
                            Avenida Winston Churchill, 936<br>
                            Capão Raso - Curitiba<br>
                            (xx) xxxx-xxxx
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron contato">
            <div class="container">

            </div>
        </div>
