<section>
    <h2>pagina de contato</h2>
    <form action="" method="post">
        <ul>
            <li></li><label for="">Digite seu nome:</label>
            <li><input type="text"></li>
            <li></li><label for="">Digite o assunto</label>
            <li><input type="text"></li>
            <li><textarea name="" id="" cols="30" rows="10"></textarea></li>
            <li><button type="submit">Enviar</button></li>
        </ul>
    </form>
</section>